/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
/* text style div */
h1,p{
    color: #ffff;
}

/* Primeira area do sire (navegação) */
.containerNavbar{
    background-image: url(../img/preimeiroDesign.svg);
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}go

.navbar{
    z-index: 2;
    display: flex;
    justify-content: center ;
    background-color: #ffff;
    width: 1260px;
    height: 55px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 30px;
    gap: 300px;
    text-align: center;
    align-items: center;
    
}

.logo{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.itensNavbar{
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    
}
.itensNavbar>li> a{
    text-decoration: none;
    color: black;

}

/* .linhacontainernavbar{
    width:800px;
    margin: 0 auto;
    margin-top: 30px;
} */
.linhacontainernavbar{
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    border-top: 2px dashed #1E90FF;
    /* azul, 2px, tracejada */
    height: 0;
}
.buttonmenu{
    background-color: #f3d263;
    color: #ffff;
    width: 180px;
    height: 35px;
    border-radius:12px ;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    border: none;
}

.containerTextnavbar{
    text-align: center;
}
.containerTextnavbar> h1{
    text-align: center;
    font-size: 62px;
    margin-top: 150px;
}
.containerTextnavbar>p{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.containerTextnavbar>button{
    background-color: #f3d263;
    margin-top: 30px;
    width: 266px;
    height: 50px;
    border-radius:12px ;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.textcolorblue{
    color:#0000ff;
}

/* seção de sobres nois */
.containerQuemSomos{
    background-image: url(../img/segundoDesign.svg);
}




/* new code */

:root {
    --cor-primary:#637FF3;
    --cor-primary-dark:#1B2243;
    --cor-secondary:#F3D263;
    --cor-dark: #000;
    --cor-white:#fff;

    --border-standard:8px;
}

.hero-section {
    background-image: url(../img/preimeiroDesign.svg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

}
.hero-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a9;
}

header img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.nav-bar {
    width: 80%;
    height: 45px;
    background-color: var(--cor-white);
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 100px;
    padding-inline: 20px;
    top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.logo {
    font-size: 20px;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.button-geral {
    background-color: var(--cor-secondary);
    height: 33px;
    width: 180px;
    border-radius:var(--border-standard) ;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: var(--cor-primary-dark);
    cursor: pointer;
}

.nav-bar ul a {
    list-style: none;
    text-decoration: none;
    color: var(--cor-dark);
    font-weight: 600;
    cursor: pointer;
}

.hero-content {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    height: 500px;

    z-index: 1;
}

.hero-content h1 {
    margin-top: 30px;
    font-size: 60px;
    font-weight: bolder;
}

.emphasis {
    color: var(--cor-primary);
}

.hero-content .hero-description {
    margin: 30px 0;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
}

.hero-content .hero-sub-description {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.button-geral.button-hero {
    width: 300px;
    height: 50px;
    font-size: 23px;
    transition: all 0.4s;
}


